@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="font-weight-bold text-center text-uppercase">Sistema de Controle de Entrada de Visitantes</h1>
    <h3 class="font-weight-light text-center">Para cadastrar novos visitantes:</h3>
    <a class="btn btn-primary" href="./visitante/cadastrar">Clique aqui!</a>
    <h3 class="font-weight-light text-center">Para visualizar os visitantes já cadastrados:</h3>
    <a class="btn btn-secondary" href="./visitante">Clique aqui!</a>
</div>
